@import "./styles/lib/core/reset";
@import "./styles/dist/index";
@import "./styles/usage/order";
@import "./styles/usage/parkland";
@import "./styles/usage/callcar";
@import "./styles/dist/common";
@import "./styles/swiper.min.css";
 html,body{
 	width: 100%;
 	height: 100%;
 }
#app{
	@include flexbox;
	@include flex-direction(column);
	width: 100%;
	height: 100%;
	overflow: hidden;
}


