.t-orderList{
	li{
		padding:23px 14px 10px 14px;
		font-size:18px;
		color:#313131;
		border-bottom:1px solid #cfcfcf; 
		i{
		    padding:0px 8px;	
			color:#ababab;
		}
	}
	span{
		i{
			right:20px;
		    position: absolute;
		    line-height:43px;
		}
	}
}
.t-router{
	color:#313131;
}
